.line {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  padding: 1em 0;
  color: #0d3934;
  background-color: #ffc5d6;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 900;
  overflow: hidden;
}

.s1,
.s2 {
  white-space: nowrap;
  will-change: transform;
  display: flex;
}

.s1 {
  animation: anim1 40s -40s linear infinite;
}

.s2 {
  animation: anim2 40s -20s linear infinite;
}

@keyframes anim1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes anim2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
