.hero {
    background: #FFC5D6;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 0;
    overflow: hidden;
    position: relative;

    &__inner {
        margin: 1em;
        outline: 4px solid #0D3934;
        width: 100%;
        border-radius: 30px;
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 1;
        color: white;
    }
}

.tl,
.tr,
.bl,
.br {
    color: #0D3934;
    font-size: 1.6em;
    text-transform: uppercase;
    display: block;
    position: absolute;
    text-decoration: underline;
    z-index: 10;
    &:hover
    {
        font-style: italic;
    }
}

.tl {
    top: 2em;
    left: 2em;
    // text-decoration: line-through;
}

.tr{
    top: 2em;
    right: 2em;
    // text-decoration: line-through;
}
.bl{
    bottom: 2em;
    left: 2em;
}
.br {
    bottom: 2em;
    right: 2em;
}


