.cards {
  box-sizing: border-box;
  height: 100vh;
  display: grid;
  grid-template-columns: repear(auto-fit, minmax(10rem, 1fr));
  grid-gap: 0.2em;
  padding: 2em 0;
  background: #0d3934;
  max-width: 1200px;
  margin: 0 auto;
}

.cards__header {
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  color: #ffc5d6;
  font-size: 1.953rem;
  grid-column-start: 1;
  grid-column-end: 5;
  margin: 0;

  & h2 {
    margin-top: 0;
  }
}

.cards__text {
  margin-top: 0;
  text-decoration: none;
  width: 50%;
}

.form {
  // border: 2px solid #ffc5d6;
  // border-radius: 30px;
  padding: 0.5em;
  display: flex;
  // align-items: center;
  flex-direction: column;
  justify-content: space-around;
  grid-column-start: 4;
  grid-column-end: 5;
  color: #ffc5d6;

  & span {
    margin-top: 0.5em;
  }

  & label {
    border-bottom: 2px solid #ffc5d6;
    outline-offset: 0px;
    box-sizing: border-box;
    padding: 0.2em;
    &:hover {
      outline-width: 3px;
    }
  }

  & input {
    color: #ffc5d6;
    background: transparent;
    border: none;
    font-size: 1em;
    outline: none;
  }

  & button {
    background: #ffc5d6;
    color: #0d3934;
    border: none;
    margin-top: 0.5em;
    padding: 1em 0;
    border-radius: 20px;
    text-transform: uppercase;
    opacity: 0.6;
    cursor: pointer;
    &:hover {
      opacity: 1;
      font-style: italic;
    }
  }
}
