.quiz{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.quizCard {
  display: flex;
  font-display: column;
  flex-wrap: wrap;
  justify-content: center;
}

.quizKanji {
  font-size: 5em;
  color: #ffc5d6;
  text-align: center;
  width: 100%;
}

.quizAnswerInput {
  width: 100%;
  background: transparent;
  color: #ffc5d6;
  border: 2px solid #ffc5d6;
  padding: 0.5em 1em;
  border-radius: 20px;
}

.quizStat {
  font-size: 1.4em;
}


.resultsText {
  width: 100%;
  display: block;
}

.startButton,
.quizButton,
.okButton {
  width: 100%;
  font-size: 1.4em;
  max-width: 250px;
  background: none;
  border: 2px solid #ffc5d6;
  border-radius: 30px;
  color: #ffc5d6;
  margin-top: 0.5em;
  padding: 1em 0;
  border-radius: 20px;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    color: #0d3934;
    background: #ffc5d6;
    font-style: italic;
  }
}
