.flipCard {
  grid-column-start: span 1;
  background-color: transparent;
  width: 100%;
  perspective: 600px;
}

.flipCard__inner {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.done .flipCard__inner {
  transform: rotateX(180deg);
}

.flipCard__front,
.flipCard__back {
  font-size: 1.563em;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 1.5em;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flipCard__front {
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #0d3934;
  color: #ffc5d6;
  transition: all 0.2s ease;
  border: 2px solid #ffc5d6;
  &:hover {
    border: 2px solid #0d3934;
  }

  &:hover p {
    transform: translateY(0.2em);
  }
  & p {
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin: 0;
    padding: 0;
  }
}

.flipCard__back {
  background-color: #ffc5d6;
  color: #0d3934;
  transform: rotateX(180deg);
}

.icon__remember {
  align-self: flex-start;
  transition: all 0.2s ease-out;
  outline: none;
  &:hover {
    transform: rotateZ(180deg);
  }
}

.icon__remove {
  align-self: flex-end;
  transition: all 0.2s ease-out;
  outline: none;
  &:hover {
    transform: rotateZ(180deg);
  }
}

.remembered {
  transition: all 0.5s ease-in-out;
  background: #01b28b;
  color: #f5cccf;
}

.bar {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em;
  margin-bottom: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  &p {
    padding-bottom: 0.5em;
  }
}
