.about {
    display: flex;
    padding: 1em;
    width: 100%;
    height: 100vh;
}

.aboutInner {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.aboutText {
    color: #ffc5d6;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;   
}

.aboutTitle {
    color: #ffc5d6;
    font-size: 1.953rem;
    grid-column-start: 1;
    grid-column-end: 3;
}

.aboutPic {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4; 

    max-width: 150px;
}