.title {
        font-size: 3.052em;
        font-weight: 800;
        line-height: 1;
        margin-bottom: .5em;
        padding-top: .3em;
        color: #0D3934;
        // border-top: 4px solid #0D3934;
}

