.page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0d3934;
}

.form {
  border: 2px solid #ffc5d6;
  padding: 2em;
  border-radius: 1.5em;
  width: 300px;
}
