.section {
  box-sizing: border-box;
  position: relative;
  width: 50%;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &Dark {
    background: #0d3934;
    color: white;
  }
  &Lite {
    background: #ffc5d6;
    color: #0d3934;
  }

  &FullWidth {
    width: 100%;
  }

  img {
    object-fit: contain;
    width: 100%;
    max-width: 50%;
    min-width: 250px;
  }
}
