body {
  font-size: 16px;
  color: #ffc5d6;
  background: #0d3934;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 880px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 760px) {
  body {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 10px;
  }
}
